# Enable pipx completions
if [ $(command -v pipx) ]; then
  eval "$(register-python-argcomplete pipx)"
fi

# Preferred editor for local and remote sessions
if [ $(command -v nano) ]; then
  export EDITOR=nano
elif [ $(command -v emacs) ]; then
  export EDITOR='emacs -nw'
elif [ $(command -v vim) ]; then
  export EDITOR=vim
fi

if [ $(command -v kate) ]; then
  export VISUAL=kate
elif [ $(command -v code) ]; then
  export VISUAL=code
elif [ $(command -v emacs) ]; then
  export VISUAL=emacs
fi

# Set a cool new pager with color support
if [ $(command -v most) ]; then
  export PAGER=most
fi


# Replace cat with bat
if [ $(command -v bat) ]; then
  export BAT_PAGER="less -RF"
  export MANPAGER="sh -c 'col -bx | bat -l man -p'"
  export MANROFFOPT="-c"
fi

# Add notification support for long-running processes
if [ $(command -v ntfy) ]; then
  eval "$(ntfy shell-integration --longer-than 30)"
  export AUTO_NTFY_DONE_IGNORE="vim nano emacs kate zshconfig screen tmux ssh top htop less more most nethogs 'singularity shell' julia man"
fi

# Set the Nextflow enviroment caches
export NXF_HOME="$HOME/.nextflow"
{{ if (eq .cluster "scinet") }}
NXF_CACHE=/90daydata/shared/$USER/.nextflow
{{ else }}
NXF_CACHE=$NXF_HOME
{{ end }}
export NXF_CONDA_CACHEDIR="$NXF_CACHE/conda"
export NXF_SINGULARITY_CACHEDIR="$NXF_CACHE/singularity"
export NXF_CHARLIECLOUD_CACHEDIR="$NXF_CACHE/charlie"

{{ if (eq .cluster "scinet") }}
# Set the Singularity image cache
SINGULARITY_CACHEDIR=/90daydata/share/$USER/.singularity
{{ end }}

# Give Julia full CPU access
export JULIA_NUM_THREADS=$(nproc)

# Make NCBI happy
export NCBI_API_KEY='{{ (bitwarden "item" "7d42eba0-c256-4d3b-8d0e-adbf016a08f8").login.password }}'
