# shellcheck shell=bash

{{ if (or (eq .chezmoi.hostname "Atlas-login-1") (eq .chezmoi.hostname "Atlas-login-2")) -}}
# Workaround for SCINet admins clobbering fpath
fpath+=($HOME/.local/share/zsh/5.8/functions)
{{- end }}

# juliaup setup
if [ -d $HOME/.julia/juliaup/bin ]; then
  export PATH="$HOME/.julia/juliaup/bin:$PATH"
fi

# Linuxbrew setup
if [ -d $HOME/../linuxbrew/.linuxbrew ]; then
  BREWPATH=$HOME/../linuxbrew/.linuxbrew
elif [ -d $HOME/.linuxbrew ]; then
  BREWPATH=$HOME/.linuxbrew
fi

if [ -n "$BREWPATH" ]; then
  fpath+=($BREWPATH/share/zsh/site-functions)
  export fpath
fi
