{{- if lookPath "pipx" }}
# Enable pipx completions
eval "$(register-python-argcomplete pipx)"
{{- end }}

{{- if lookPath "nvim" }}
# Preferred editor for local and remote sessions
export EDITOR=nvim
{{- end }}

{{- if lookPath "kate" }}
export VISUAL=kate
{{- else if lookPath "codium" }}
export VISUAL=codium
{{- else if lookPath "code" }}
export VISUAL=code
{{- end }}

{{- if lookPath "most" }}
# Set a cool new pager with color support
export PAGER=most
{{- end }}

{{- if or (lookPath "bat") (lookPath "catbat") }}
# Replace cat with bat
export BAT_PAGER="less -SRF"
export MANPAGER="sh -c 'col -bx | bat -l man -p'"
export MANROFFOPT="-c"
{{- end }}

# Add notification support for long-running processes
{{- if lookPath "ntfy" }}
eval "$(ntfy shell-integration --longer-than 30)"
export AUTO_NTFY_DONE_IGNORE="vim nano emacs kate zshconfig screen tmux ssh top htop less more most nethogs 'singularity shell' julia man glances"
{{- end }}

# Set the Nextflow enviroment caches
export NXF_HOME="$HOME/.nextflow"
{{ if (eq .cluster "scinet") }}
NXF_CACHE=/90daydata/shared/$USER/.nextflow
{{ else }}
NXF_CACHE=$NXF_HOME
{{ end }}
export NXF_CONDA_CACHEDIR="$NXF_CACHE/conda"
export NXF_SINGULARITY_CACHEDIR="$NXF_CACHE/singularity"
export NXF_CHARLIECLOUD_CACHEDIR="$NXF_CACHE/charlie"

{{ if (eq .cluster "scinet") }}
# Set the Singularity image cache
export SINGULARITY_CACHEDIR=/90daydata/shared/$USER/.singularity
{{ end }}

# Give Julia full CPU access
export JULIA_NUM_THREADS=$(nproc)

# Make Julia use preinstalled Git
JULIA_PKG_USE_CLI_GIT=true

# Make NCBI happy
export NCBI_API_KEY='{{ (bitwarden "item" "7d42eba0-c256-4d3b-8d0e-adbf016a08f8").login.password }}'
