# shellcheck shell=bash
# .bashrc

if [ -f "$HOME/.modules" ]; then
  source $HOME/.modules
fi

# Hook virtual environment modifers
source $HOME/.hooks

# User specific aliases and functions
source $HOME/.aliases

source $HOME/.envvar

# Make the prompt pretty, just in case we're stuck in bash land
export PS1="[\[\e[32m\]\u\[\e[m\]@\[\e[33m\]\h\[\e[m\] \[\e[34m\]\W\[\e[m\]] \\$ "
