[user]
	name = "Thomas A. Christensen II"
	email = "25492070+MillironX@users.noreply.github.com"
	signingkey = 0xD5F50D10552A4BEC
[core]
	editor = nvim
[credential]
	helper = store
[color]
	ui = auto
[init]
	defaultBranch = master
[github]
	user = MillironX
[pull]
	rebase = false
[safe]
	directory = /var/docker
{{- if eq .machinetype "workstation" }}
[commit]
	gpgsign = true
[diff]
	tool = kdiff3
[merge]
	tool = kdiff3
{{- end }}
