[user]
	name = {{ .name }}
	email = {{ .email }}
	signingkey = {{ .pubkey }}
[core]
	editor = nvim
[credential]
	helper = store
[color]
	ui = auto
[init]
	defaultBranch = master
[github]
	user = MillironX
[pull]
	rebase = false
[commit]
	gpgsign = true
{{- if eq .chezmoi.osRelease.id "fedora" }}
[diff]
	tool = kdiff3
[merge]
	tool = kdiff3
{{- end }}
