{{- if or
  (eq .machinetype "workstation")
  (eq .chezmoi.osRelease.id "fedora")
  (and (eq .chezmoi.osRelease.id "almalinux" "centos" "rhel") (gt (atoi .chezmoi.osRelease.versionID) 7))
  (and (eq .chezmoi.osRelease.id "debian") (gt (atoi .chezmoi.osRelease.versionID) 9 )) -}}
# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi
{{- end }}

# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]]
then
    export PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi

# Load the antigen library
source "$HOME/antigen.zsh"

# Load the oh-my-zsh library
antigen use oh-my-zsh

# Default bundles
antigen bundle git
antigen bundle screen
antigen bundle extract

# Custom bundles
antigen bundle zsh-users/zsh-syntax-highlighting
antigen bundle zsh-users/zsh-autosuggestions
antigen bundle zsh-users/zsh-completions
antigen bundle esc/conda-zsh-completion
antigen bundle millironx/cowsay-cows

{{ if or
  (eq .machinetype "workstation")
  (eq .chezmoi.osRelease.id "fedora")
  (and (eq .chezmoi.osRelease.id "almalinux" "centos" "rhel") (gt (atoi .chezmoi.osRelease.versionID) 7))
  (and (eq .chezmoi.osRelease.id "debian") (gt (atoi .chezmoi.osRelease.versionID) 9 )) -}}
antigen theme romkatv/powerlevel10k
{{- else -}}
antigen theme https://gist.github.com/efde5e8d507bd3e1e046198b69d579f8.git gianu-improved
{{- end }}

# oh-my-zsh configuration settings
HYPHEN_INSENSITIVE="true"
COMPLETION_WAITING_DOTS="true"

source $HOME/.hooks

# Tell Antigen that you're done
antigen apply

# User configuration
# Setup bash completion support
# (zsh completion support is handled by oh-my-zsh)
autoload -U bashcompinit
bashcompinit

source $HOME/.envvar

alias zshconfig="$EDITOR ~/.zshrc"
source $HOME/.aliases

{{ if or
  (eq .machinetype "workstation")
  (eq .chezmoi.osRelease.id "fedora")
  (and (eq .chezmoi.osRelease.id "almalinux" "centos" "rhel") (gt (atoi .chezmoi.osRelease.versionID) 7))
  (and (eq .chezmoi.osRelease.id "debian") (gt (atoi .chezmoi.osRelease.versionID) 9 )) -}}
# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
{{- end }}
