tower {
  enabled = true
  accessToken = '{{ (bitwarden "item" "d41ac952-d8b5-4d20-a42a-ad8e0174d152").login.password }}'
}
{{ if (eq .cluster "scinet") }}
params {
  {{ if (eq .chezmoi.hostname "ceres") }}
  max_memory = 768.GB
  max_cpus   = 40
  max_time   = 1000.h
  {{ end }}
  {{ if (or (eq .chezmoi.hostname "Atlas-login-1") (eq .chezmoi.hostname "Atlas-login-2")) }}
  max_memory = 1539.GB
  max_cpus   = 24
  max_time   = 14.d
  {{ end }}
}

process {
  scratch        = true
  executor       = 'slurm'
  clusterOptions = '--account=fabadru'
  {{ if (or (eq .chezmoi.hostname "Atlas-login-1") (eq .chezmoi.hostname "Atlas-login-2")) }}
  cpus   = 12
  memory = 192.GB
  time   = 7.d
  withLabel: process_high_memory {
    queue      = 'bigmem'
    memory     = 1536.GB
  }
  withLabel: process_long {
    time   = 14.d
  }
  withLabel: process_medium {
    cpus   = 12
    memory = 192.GB
    time   = 7.d
  }
  withLabel: process_high {
    cpus   = 24
    memory = 384.GB
    time   = 14.d
  }
  {{ end }}
  {{ if (eq .chezmoi.hostname "ceres") }}
  queue  = 'short'
  cpus   = 18
  memory = 54.GB
  time   = 24.h
  withLabel: process_high_memory {
    queue  = 'mem'
    memory = 640.GB
  }
  withLabel: process_long {
    queue = 'long'
    time  = 21.d
  }
  withLabel: process_medium {
    queue = 'medium'
    cpus  = 36
    time  = 7.d
  }
  withLabel: process_high {
    queue = 'long'
    cpus  = 36
    time  = 21.d
  }
  {{ end }}
  withLabel: process_low {
    cpus   = 2
    memory = 4.GB
    time   = 1.h
    {{ if (eq .chezmoi.hostname "ceres") }}queue = 'short'{{ end }}
  }
}
{{ end }}
