tower {
  enabled = true
  accessToken = '{{ (bitwarden "item" "d41ac952-d8b5-4d20-a42a-ad8e0174d152").login.password }}'
}
profiles {
  aahz {
    params {
      config_profile_description = 'KSU VDL Molecular NGS Big Server profile'
      config_profile_contact     = 'Thomas A. Christensen II <25492070+MillironX@users.noreply.github.com>'
      config_profile_url         = null

      max_memory = 745.GB
      max_cpus   = 78
      max_time   = 7.d
    }
    singularity {
      enabled      = true
      autoMounts   = true
      envWhitelist = 'NCBI_API_KEY'
    }
    process {
      executor = 'local'
    }
  }
  atlas {
    params {
      config_profile_description = 'Mississippi State University Atlas Cluster profile'
      config_profile_contact     = 'Thomas A. Christensen II <25492070+MillironX@users.noreply.github.com>'
      config_profile_url         = 'https://www.hpc.msstate.edu/computing/atlas/'

      max_memory = 1539.GB
      max_cpus   = 24
      max_time   = 14.d
    }
    singularity {
      enabled      = true
      autoMounts   = true
      envWhitelist = 'NCBI_API_KEY'
    }
    process {
      scratch        = true
      executor       = 'slurm'
      clusterOptions = '--account=fabadru'

      withLabel: process_high_memory {
        queue = 'bigmem'
      }
    }
  }
  ceres {
    params {
      config_profile_description = 'USDA ARS SCInet Ceres Cluster profile'
      config_profile_contact     = 'Thomas A. Christensen II <25492070+MillironX@users.noreply.github.com>'
      config_profile_url         = 'https://scinet.usda.gov/guide/ceres/#partitions-or-queues'

      max_memory = 768.GB
      max_cpus   = 40
      max_time   = 1000.h
    }
    singularity {
      enabled      = true
      autoMounts   = true
      envWhitelist = 'NCBI_API_KEY'
    }
    process {
      scratch  = true
      executor = 'slurm'
      queue    = 'short'

      withLabel: process_high_memory {
        queue = 'mem'
      }
      withLabel: process_long {
        queue = 'long'
      }
      withLabel: process_medium {
        queue = 'medium'
      }
    }
  }
  tananda {
    params {
      config_profile_description = 'KSU VDL Molecular NGS Desktop profile'
      config_profile_contact     = 'Thomas A. Christensen II <25492070+MillironX@users.noreply.github.com>'
      config_profile_url         = null

      max_memory = 14.GB
      max_cpus   = 12
      max_time   = 4.h
    }
    docker {
      enabled       = true
      userEmulation = true
      envWhitelist  = 'NCBI_API_KEY'
    }
    process {
      executor = 'local'
    }
  }
}
