Host *
	IdentitiesOnly yes
	IdentityFile {{ if and (eq .machinetype "workstation") (ne .chezmoi.os "windows") }}~/.ssh/id_rsa_yubikey.pub{{ else }}~/.ssh/id_ed25519.pub{{ end }}

Host aahz
	HostName 129.130.108.37
	User tchristensen

Host skeeve
	HostName 129.130.108.157
	User tchristensen

Host ceres
	HostName ceres.scinet.usda.gov
	User thomas.christensen
	TCPKeepAlive yes
	ServerAliveInterval 20
	ServerAliveCountMax 30
	IdentitiesOnly no

Host atlas
	HostName Atlas-login-1.hpc.msstate.edu
	User thomas.christensen
	TCPKeepAlive yes
	ServerAliveInterval 20
	ServerAliveCountMax 30
	IdentitiesOnly no

Host atlas-dtn
	HostName Atlas-dtn.hpc.msstate.edu
	User thomas.christensen
	IdentitiesOnly no
